<!DOCTYPE html>
<html>
<head>
    <title>Work profile of Victor Kachan</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>

<div class="boundary">

    <div class="wrapper">

        <div class="header">
            <div>
                <table>
                    <tr>
                        <td class="title">
                            <div>
                                <span>/* professional resume */</span>
                                Victor Kachan // web developer
                            </div>
                        </td>
                        <td class="downloads">
                            <div>Download print version:</div>
                            <span class="pdf"><a href="VictorKachan_CV.pdf" target="_blank"><i></i>.pdf</a></span>
                            <span class="doc"><a href="VictorKachan_CV.docx" target="_blank"><i></i>.docx</a></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="color: #D00; font-size: 14px;" id="no-js">
            To view this site Javascript need to be enabled</br>
            You can do it in your browser settings,<br/>
            or just click <span style="text-decoration:underline;">"Allow blocked content"</span> if you are using Internet Explorer.
        </div>
        <script lang="javascript">document.getElementById("no-js").style.display = 'none';</script>


        <div class="nav">
            <ul>
                <li class="selected"><a href="#summary">Summary</a></li>
                <li><a href="#experience">Professional career</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <span class="email-promo"><a href="index.html">Short version</a></span>
        </div>

        <div class="content">

            <section class="summary" id="summary">

                <div class="entry">
                    <div class="title">Personal details</div>
                    <div class="desc">
                        <table>
                            <tr><td>Name:               </td><td>Victor Kachan   </td></tr>
                            <tr><td>Date of birth:      </td><td>28 Aug 1982     </td></tr>
                            <tr><td>Nationality:        </td><td>Belarus         </td></tr>
                            <tr><td>Languages:          </td><td>Russian, English</td></tr>
                        </table>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">Education</div>
                    <div class="desc">
                        <table>
                            <tr><td>2004-2005:</td><td>Java Training Course at BSUIR/EPAM Joint Lab                                       </td></tr>
                            <tr><td>2000-2005:</td><td>Bachelor in Informatics (Mathematician, System programmer) at BSUIR(Minsk, Belarus)</td></tr>
                        </table>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">Career summary</div>
                    <div class="desc">
                        <ul>
                            <li>Got over <em>15 years</em> of practical experience with commercial web applications</li>
                            <li>Focused on <em>web development</em> technologies</li>
                            <li>Have <em>fullstack NodeJS</em> development experience</li>
                            <li>Started with Java web technologies, switched to Javascript stack at 2012</li>
                        </ul>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">Technology skills</div>
                    <div class="desc">
                        <table>
                            <tr><td colspan="2">Primary skills</td></tr>
                            <tr><td>Web/Scripting:	    </td><td>Javascript (ES, Typescript), React, AngularJS/2+, Vue.js, etc.</td></tr>
                            <tr><td>Web/Tools:	        </td><td>Node.js, Webpack, etc.</td></tr>
                            <tr><td>Web/Markup:	        </td><td>HTML, CSS/LESS, etc.</td></tr>
                            <tr class="secondary"><td colspan="2">Secondary skills</td></tr>
                            <tr class="secondary"><td colspan="2">Java, C++, C#, SQL, Documentation, Math</td></tr>
                            <tr class="secondary"><td colspan="2" class="notice navigation-hint">Hint: check <a href="#experience">career</a> and <a href="#skills">skills</a> sections for details</td></tr>
                        </table>

                    </div>
                </div>

                <div class="entry">
                    <div class="title">Personality traits*
                    </div>
                    <div class="desc">
                        <ol>
                            <li>"Can do" attitude. Encouraged by difficult goals.</li>
                            <li>Focused on balance between code quality, development speed and development cost.</li>
                        </ol>
                        <div class="notice navigation-hint">*check <a href="#skills">skills</a> section for details</div>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">About me:</div>
                    <div class="desc about">
                        <div>
                            I am a resident of Minsk, Belarus, where I do live with my family.
                            My hobby is reading and retro games.
                        </div>
                    </div>
                </div>

            </section>

            <section class="experience" id="experience">
                <div>
                    <div class="timeline" id="timeline"></div>
                    <div class="details"></div>
                </div>
            </section>

            <section class="skills" id="skills">

                <div class="group">
                    <div class="header"><span>Showing only skills with more than 2 years of experience</span></div>
                    <div class="yeargrid">
                        <div>2020</div>
                        <div>2019</div>
                        <div>2018</div>
                        <div>2017</div>
                        <div>2016</div>
                        <div>2015</div>
                        <div>2014</div>
                        <div>2013</div>
                        <div>2012</div>
                        <div>2011</div>
                        <div>2010</div>
                        <div>2009</div>
                        <div>2008</div>
                        <div>2007</div>
                        <div>2006</div>
                        <div>2005</div>
                    </div>
                    <div class="technologies"></div>
                </div>

                <div class="group">
                    <div class="header"><span>Personal and professional traits</span></div>
                    <div class="other">
                        <table>
                            <tr>
                                <td class="title">General development</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="sub-title">
                                                Programming
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Using optimized approach to coding for balance in quality and performance</li>
                                                    <li>System-level thinking: solving root of issues instead of symptoms</li>
                                                    <li>Concentration is greatly increased in silent environments</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-title">
                                                Planning and tracking
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Using best tools in given budget and requirements</li>
                                                    <li>Have basic BA skills (requirements forming and decomposition) </li>
                                                    <li>Have basic PM skills (project planning, team management) </li>
                                                    <li>Realistic effort estimation.</li>
                                                 </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-title">
                                                Processes
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Understand philosophy of Agile.</li>
                                                    <li>Have experience with Agile Scrum and Kanban.</li>
                                                    <li>Have experience with specification-driven development process.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-title">
                                                Project documentation and status tracking
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Experienced user of Jira and Confluence.</li>
                                                    <li>Experienced with modelling languages (UML, IDEF, DB scheme, sequence diagrams, etc.).</li>
                                                    <li>Experienced with writing and supporting developer and user guides</li>
                                                    <li>Experienced with conversion of customer requirements into Scrum backlog epics/stories.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Team experience</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="sub-title">
                                                Interaction with other members
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Believe in importance of communication and transparency.</li>
                                                    <li>Able to work with team spreaded in different timezones.</li>
                                                    <li>Able to collaborate on same task with other developers (pair programming and mob programming).</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-title">
                                                Management of team
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Watching and tracking team members status and risks.</li>
                                                    <li>Delegating responsibilities to each member according to their strength and weakness.</li>
                                                    <li>Can make team decisions. </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </section>

            <section class="contact" id="contact">
                <div>Thank you for your interest and welcome to cooperation!</div>
                <div>To send me a message please use following addresses:</div>
                <div>
                    <table>
                        <tr><td>E-mail</td><td class="address">setec.by@gmail.com</td><td><a href="mailto:setec.by@gmail.com" target="_blank">Open in your email client</a></td></tr>
                        <tr><td>Skype</td><td class="address">viktar.kachan</td><td><a href="skype:viktar.kachan">Open in Skype</a></td></tr>
                        <tr><td>Telegram</td><td class="address">+375336645731</td></tr>
                        <tr>
                            <td>Phone*
                                <div class="notice">
                                    *I would be pleased to answer your call in range from 10 AM to 7 PM (GMT+3).
                                    <div>My current time is: <span class="time"></span></div>
                                </div>
                            </td>
                            <td class="address">+375&mdash;33&mdash;6645731</td>
                            <td><a href="skype:+375336645731">Call by Skype</a></td>
                        </tr>
                    </table>
                </div>

            </section>

        </div>

    </div>

    <div class="footer">
        2013&mdash;2020 Personal Web CV of Victor Kachan.<br>
        Thanks for your visit!
    </div>

</div>

</body>

<script type="text/tpl" id="project-tpl">

        <div class="project <%= project.isFirst ? 'first' : '' %>"
             company-index="<%=project.company.index%>"
             project-index="<%=project.index%>">

            <% if ( project.isLast ) { %>
            <div class="company">
                <span><%= project.company.name %></span>
                (<%= Util.formatRangeVerbose("from", "to", project.company.stats.startDate, project.company.stats.endDate) %>,
                totally <%= Util.formatMonthDuration(project.company.stats.duration) %>)
            </div>
            <% } %>

            <table>
                <tr>
                    <td class="marker">
                        <div>{</div>
                    </td>
                    <td class="date">
                        <div>
                            <div>
                                <div class="range"><%= Util.formatRange(project.stats.startDate, project.stats.endDate) %></div>
                                <table class="duration">
                                    <tr>
                                        <td><div class="text"><%=Util.formatMonthDuration(project.stats.duration) %></div></td>
                                    <tr>
                                    <tr>
                                        <td class="rate">
                                            <span class="total">
                                                <%=Util.formatPercents(project.stats.rate)%> of total time
                                            </span>
                                            <% if( project.stats.rateNorm == 1 ) {%>
                                            <span class="projlabel">(The longest project)</span>
                                            <% } %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="project-info">

                            <div class="description">
                                <span class="name"><%= project.name %></span>
                                <div class="fulltext"><%= project.desc %></div>
                            </div>

                             <div class="participation">
                                <table>
                                    <tr><td>Role(s):</td><td class="info"><%= project.role %></td><td class="achievement" style="<%= !project.achievements ? 'border: none' :''%>"><%= project.achievements ? "Achievement:" : "" %></td></tr>
                                    <tr><td>Participation:</td><td class="info"><%= project.participation%></td><td class="achievement" style="<%= !project.achievements ? 'border: none' :''%>"><%= project.achievements%></td></tr>
                                </table>
                             </div>

                             <div class="stats">
                                 Skills: <span class="skills"><%= project.skills ? project.skills.replace(/;/g, ',') : '' %></span><br/>
                             </div>
                         </div>
                    </td>
                </tr>
            </table>


        </div>
    </script>

    <script type="text/tpl" id="skill-tpl">
        <% var len = 100*(skill.end - skill.start); %>
        <div class="skill tag" style="font-size: <%=20+30*skill.weight%>px; line-height: <%=100*skill.weight%>px; width: <%=len%>%; margin-left: <%=100*skill.shift%>%" title="<%=Util.formatMonthDuration(skill.count)%>" alttitle="<%=Util.formatMonthDuration(skill.count)%>">
            <%=skill.name%>
        </div>
    </script>

<!--LIBS-->
<!--json2 support for old browsers-->
<script type="text/javascript" lang="javascript" src="libs/json2.min.js"></script>
<!--jquery utility framework-->
<script type="text/javascript" lang="javascript" src="libs/jquery-1.10.2.min.js"></script>
<!--tooltip functionaly on skills section-->
<script type="text/javascript" lang="javascript" src="libs/jquery-ui-1.10.3.custom.min.js"></script>
<!--animation on navigation hints-->
<script type="text/javascript" lang="javascript" src="libs/jquery.animate-colors.min.js"></script>
<!--underscore utility framework-->
<script type="text/javascript" lang="javascript" src="libs/underscore.min.js"></script>
<!--charts on experience section-->
<script type="text/javascript" lang="javascript" src="libs/highcharts.min.js"></script>
<!--datetime utility framework with timezone module-->
<script type="text/javascript" lang="javascript" src="libs/moment.min.js"></script>
<script type="text/javascript" lang="javascript" src="libs/moment-timezone.min.js"></script>
<!--enables CSS3 selectors for old browsers-->
<script type="text/javascript" lang="javascript" src="libs/selectivizr.min.js"></script>
<!--Smooth scroll for experience section-->
<script type="text/javascript" lang="javascript" src="libs/jquery.nicescroll.min.js"></script>

<!--SCRIPTS-->
<!--Minsk timezone settings-->
<script type="text/javascript" lang="javascript" src="js/minsk.tz.js"></script>
<!--Modified jQuery UI Tabs (removed ajax and keyboard support, some fixes)-->
<script type="text/javascript" lang="javascript" src="js/jquery-ui-1.10.3.tabs.micro-edition.js"></script>
<!--Custom utils-->
<script type="text/javascript" lang="javascript" src="js/util.js"></script>
<!--Site header FX effect on mouse over-->
<script type="text/javascript" lang="javascript" src="js/headerfx.js"></script>
<!--JSON data preparation and utility-->
<script type="text/javascript" lang="javascript" src="js/data.js"></script>
<!--Career section: chart, experience table, interaction -->
<script type="text/javascript" lang="javascript" src="js/career.js"></script>
<!--Skills section: scill cloud-->
<script type="text/javascript" lang="javascript" src="js/skills.js"></script>
<!--Bulk data about my career in JSON format, used for career and skills sections-->
<script type="text/javascript" lang="javascript" src="js/experience.json.js"></script>
<!--Entry point script: routing, tab control, module control-->
<script type="text/javascript" lang="javascript" src="js/script.js"></script>
</html>