<!DOCTYPE html>
<html>
<head>
    <title>Web resume of Victor Kachan</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>

<div class="boundary">

    <div class="wrapper">

        <div class="header">
            <div>
                <table>
                    <tr>
                        <td class="title">
                            <div>
                                <span>/* professional resume */</span>
                                Victor Kachan // web developer
                            </div>
                        </td>
                        <td class="downloads">
                            <div>Download print version:</div>
                            <span class="pdf"><a href="VictorKachan_Dec2014_CV.pdf" target="_blank"><i></i>.pdf</a></span>
                            <span class="doc"><a href="VictorKachan_Dec2014_CV.doc" target="_blank"><i></i>.doc</a></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!--do not refer here to css classes or js libs to avoid delays on js-check-->
        <div style="color: #DD0000; font-size: 14px;" id="no-js">
            To view this site Javascript need to be enabled</br>
            You can do it in your browser settings,<br/>
            or just click <span style="text-decoration:underline;">"Allow blocked content"</span> if you are using Internet Explorer.
        </div>
        <script lang="javascript">document.getElementById("no-js").style.display = 'none';</script>


        <div class="nav">
            <ul>
                <li class="selected"><a href="#summary">Summary</a></li>
                <li><a href="#experience">Professional career</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <span class="email-promo"><a href="mailto:setec.by@gmail.com" target="_blank">setec.by@gmail.com</a></span>
        </div>

        <div class="content">

            <section class="summary" id="summary">

                <div class="entry">
                    <div class="title">Personal details</div>
                    <div class="desc">
                        <table>
                            <tr><td>Name:               </td><td>Victor Kachan   </td></tr>
                            <tr><td>Date of birth:      </td><td>28 Aug 1982     </td></tr>
                            <tr><td>Nationality:        </td><td>Belarus         </td></tr>
                            <tr><td>Languages:          </td><td>Russian, English</td></tr>
                        </table>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">Education</div>
                    <div class="desc">
                        <table>
                            <tr><td>2004-2005:</td><td>Java Training Course at BSUIR/EPAM Joint Lab                                       </td></tr>
                            <tr><td>2000-2005:</td><td>Bachelor in Informatics (Mathematician, System programmer) at BSUIR(Minsk, Belarus)</td></tr>
                        </table>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">Career summary</div>
                    <div class="desc">
                        <ul>
                            <li>Got over <em>10 years</em> of practical experience with commercial web applications.</li>
                            <li>Focused on <em>web development</em> technologies.</li>
                            <li>Have major <em>experience with back-end</em> server frameworks and technologies (Java EE and others).</li>
                        </ul>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">Technology skills</div>
                    <div class="desc">
                        <table>
                            <tr><td>Web/Markup:         </td><td>HTML, CSS</td></tr>
                            <tr><td>Web/Markup/Graphics:</td><td>SVG, VML, HTML5 Canvas, WebGL, etc.*</td></tr>
                            <tr><td>Web/Scripting:      </td><td>Javascript, etc.*</td></tr>
                            <tr><td>Java/Core:          </td><td>Java SE7 (Language, Concepts, API)</td></tr>
                            <tr><td>Java EE/Web:        </td><td>Servlet API, Spring MVC, Struts, Portlet API</td></tr>
                            <tr><td>Java EE/Web/Markup: </td><td>JSP/EL/JSTL, Freemarker, Stripes, Wicket, Tiles</td></tr>
                            <tr><td>Java EE/Spring:     </td><td>Core (DI,AOP), Data(Transactions,ORM)**, Web(MVC, REST)</td></tr>
                            <tr><td>Java EE/Backend:    </td><td>Java EE API (DI, JSF, JAX-WS/RS, EJB, JMS, JPA, JTA)**, ORM (Hibernate)**</td></tr>
                            <tr><td>Databases:          </td><td>RDBMS(SQL, PL/SQL)**, NoSQL**</td></tr>
                            <tr><td>Other:              </td><td>Web streaming**, Computer graphics, Applied math, Applied semantics</td></tr>
                            <tr><td></td><td class="notice navigation-hint">* check <a href="#experience">career</a> and <a href="#skills">skills</a> sections for details</td></tr>
                            <tr><td></td><td class="notice">** not a focus area</td></tr>
                        </table>

                    </div>
                </div>

                <div class="entry">
                    <div class="title">Personality traits*
                    </div>
                    <div class="desc">
                        <ol>
                            <li>Fixed on improving efficiency and supportability of code.</li>
                            <li>Getting encouraged by goal difficulty.</li>
                            <li>Good in couching and training assistance.</li>
                        </ol>
                        <div class="notice navigation-hint">*check <a href="#skills">skills</a> section for details</div>
                    </div>
                </div>

                <div class="entry">
                    <div class="title">About me:</div>
                    <div class="desc about">
                        <div>I am a resident of Minsk, Belarus, where I do live with my family. My main hobby is reading various scientific literature.
                            As a student, I was crazy about computer graphics &mdash; my diploma was photon scattering based rendering engine,
                            and now I've found few more interesting subjects of study, like artificial intelligence or self-evolving algorithms.</div>
                        <div>Outside of virtual stuff, I'm paying certain interest to running, bike, yoga, ski.
                            And every year or two I do travel with my family for a 2-3 weeks to a various places.</div>
                    </div>
                </div>

            </section>

            <section class="experience" id="experience">
                <div>
                    <div class="timeline" id="timeline"></div>
                    <div class="details"></div>
                </div>
            </section>

            <section class="skills" id="skills">

                <div class="group">
                    <div class="header"><span>Technology experience <span class="notice">(hover for details)</span></span></div>
                    <div class="technologies"></div>
                </div>

                <div class="group">
                    <div class="header"><span>Personal and professional traits</span></div>
                    <div class="other">
                        <table>
                            <tr>
                                <td class="title">Development</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="sub-title">
                                                Coding
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Planning before coding.</li>
                                                    <li>Doing regular code design review/cleanup.</li>
                                                    <li>Good concentration skill.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-title">
                                                Managing
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Decomposing task if it is longer then a day.</li>
                                                    <li>Realistic effort estimation is essential.</li>
                                                    <li>Always looking for pitfalls.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Software development process</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="sub-title">
                                                Development cycle
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Understand philosophy of Agile Scrum process (last 2 years).</li>
                                                    <li>Well acquainted with specification-driven development process.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-title">
                                                Project documentation and status tracking
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Experienced user of Jira and Confluence.</li>
                                                    <li>Reading and utilizing in documentation modelling languages (UML, IDEFx, DB scheme, sequence diag., etc.).</li>
                                                    <li>Have some experience with writing and supporting specs, but prefer to trade them for flexibility.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Team experience</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="sub-title">
                                                Interaction with other members
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Believe in importance of communication and transparency.</li>
                                                    <li>Communication time and work time must be separated.</li>
                                                    <li>Synchronizing with other developers.</li>
                                                    <li>Learning code domain of each developer.</li>
                                                    <li>Knowledge should be shared when it's efficient.</li>
                                                    <li>Understand when task needs an update on estimation, assignee or status.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-title">
                                                Management of team
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Watching and tracking project status and current risks.</li>
                                                    <li>Discussing major issues and pitfalls as soon as they arise.</li>
                                                    <li>Delegating responsibilities to each member according to their strength and weakness.</li>
                                                    <li>Regularly checking team members if they are in need of an assistance.</li>
                                                    <li>Can make decision to initiate training, couching or position change on team member. </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </section>

            <section class="contact" id="contact">
                <div>Thank you for your interest and welcome to cooperation!</div>
                <div>To send me a message please use following addresses:</div>
                <div>
                    <table>
                        <tr><td>E-mail</td><td class="address">setec.by@gmail.com</td><td><a href="mailto:setec.by@gmail.com" target="_blank">Open in your email client</a></td></tr>
                        <tr><td>Skype</td><td class="address">viktar.kachan</td><td><a href="skype:viktar.kachan">Open in Skype</a></td></tr>
                        <tr>
                            <td>Phone*
                                <div class="notice">
                                    *I would be pleased to answer your call in range from 10 AM to 7 PM (GMT+3).
                                    <div>My current time is: <span class="time"></span></div>
                                </div>
                            </td>
                            <td class="address">+375&mdash;33&mdash;6645731</td>
                            <td><a href="skype:+375336645731">Call by Skype</a></td>
                        </tr>
                    </table>
                </div>

                <!--todo-->
                <!--Or alternatively, you may send me message directly by the form below:-->
            </section>

        </div>

    </div>

    <div class="footer">
        &#169 2013&mdash;2015 Personal Web CV of Victor Kachan. All Rights Reserved.<br>
        To use any materials from this site for personal purposes please contact me for a permission.
    </div>

</div>

</body>

<script type="text/tpl" id="project-tpl">

        <div class="project <%= project.isFirst ? 'first' : '' %>"
             company-index="<%=project.company.index%>"
             project-index="<%=project.index%>">

            <% if ( project.isLast ) { %>
            <div class="company">
                <span><%= project.company.name %></span>
                (<%= Util.formatRangeVerbose("from", "to", project.company.stats.startDate, project.company.stats.endDate) %>,
                totally <%= Util.formatMonthDuration(project.company.stats.duration) %>)
            </div>
            <% } %>

            <table>
                <tr>
                    <td class="marker">
                        <div>{</div>
                    </td>
                    <td class="date">
                        <div>
                            <div>
                                <div class="range"><%= Util.formatRange(project.stats.startDate, project.stats.endDate) %></div>
                                <table class="duration">
                                    <tr>
                                        <td><div class="text"><%=Util.formatMonthDuration(project.stats.duration) %></div></td>
                                    <tr>
                                    <tr>
                                        <td class="rate">
                                            <div style="background-color: <%=project.stats.rateColor%>">
                                                <%=Util.formatPercents(project.stats.rateNorm)%>
                                            </div>
                                            of longest</br>
                                            <span class="total">
                                                <%=Util.formatPercents(project.stats.rate)%> of total
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="project-info">

                            <div class="description">
                                <span class="name"><%= project.name %></span>
                                <div class="fulltext"><%= project.desc %></div>
                            </div>

                             <div class="participation">
                                <table>
                                    <tr><td>Position:</td><td class="info"><%= project.role %></td><td class="achievement" style="<%= !project.achievements ? 'border: none' :''%>"><%= project.achievements ? "Achievement:" : "" %></td></tr>
                                    <tr><td>Participation:</td><td class="info"><%= project.participation%></td><td class="achievement" style="<%= !project.achievements ? 'border: none' :''%>"><%= project.achievements%></td></tr>
                                </table>
                             </div>

                             <div class="stats">
                                 Skills: <span class="skills"><%= project.skills ? project.skills.replace(/;/g, ',') : '' %></span><br/>
                                 Used tools: <span class="tools"><%= project.tools %></span><br/>
                                 Team size: <span class="team"><%= project.team %></span>
                             </div>
                         </div>
                    </td>
                </tr>
            </table>


        </div>
    </script>

<script type="text/tpl" id="skill-tpl">
        <% var fontSize = ~~(skill.weight*0.3)+10, padSize = ~~(skill.weight*0.1) + 7; %>
        <div class="skill tag" style="font-size: <%=fontSize%>px; padding-left: <%=padSize%>px; padding-right: <%=padSize%>px;" title="<%=Util.formatMonthDuration(skill.count)%>" alttitle="<%=Util.formatMonthDuration(skill.count)%>">
            <%=skill.name%>
            <% if( skill.sub!=null ) { %>
                (
                    <% $.each(skill.sub, function(subIndex, subSkill) { %>
                        <% var subFontSize = ~~(subSkill.weight*0.3)+10; %>
                        <span class="subskill tag" style="font-size: <%=subFontSize%>px;" title="<%=Util.formatMonthDuration(subSkill.count)%>">
                            <%=subSkill.name%>
                        </span>
                        <span style="font-size: <%=fontSize%>px; margin: 0; padding: 0'" title><%= skill.sub.length - 1 == subIndex ? "": "," %></span>
                    <% }); %>
                <span title>)</span>
            <% } %>
        </div>
    </script>

<!--LIBS-->
<!--json2 support for old browsers-->
<script type="text/javascript" lang="javascript" src="libs/json2.min.js"></script>
<!--jquery utility framework-->
<script type="text/javascript" lang="javascript" src="libs/jquery-1.10.2.min.js"></script>
<!--tooltip functionaly on skills section-->
<script type="text/javascript" lang="javascript" src="libs/jquery-ui-1.10.3.custom.min.js"></script>
<!--animation on navigation hints-->
<script type="text/javascript" lang="javascript" src="libs/jquery.animate-colors.min.js"></script>
<!--underscore utility framework-->
<script type="text/javascript" lang="javascript" src="libs/underscore.min.js"></script>
<!--charts on experience section-->
<script type="text/javascript" lang="javascript" src="libs/highcharts.min.js"></script>
<!--datetime utility framework with timezone module-->
<script type="text/javascript" lang="javascript" src="libs/moment.min.js"></script>
<script type="text/javascript" lang="javascript" src="libs/moment-timezone.min.js"></script>
<!--enables CSS3 selectors for old browsers-->
<script type="text/javascript" lang="javascript" src="libs/selectivizr.min.js"></script>
<!--Smooth scroll for experience section-->
<script type="text/javascript" lang="javascript" src="libs/jquery.nicescroll.min.js"></script>

<!--SCRIPTS-->
<!--Minsk timezone settings-->
<script type="text/javascript" lang="javascript" src="js/minsk.tz.js"></script>
<!--Modified jQuery UI Tabs (removed ajax and keyboard support, some fixes)-->
<script type="text/javascript" lang="javascript" src="js/jquery-ui-1.10.3.tabs.micro-edition.js"></script>
<!--Custom utils-->
<script type="text/javascript" lang="javascript" src="js/util.js"></script>
<!--Site header FX effect on mouse over-->
<script type="text/javascript" lang="javascript" src="js/headerfx.js"></script>
<!--JSON data preparation and utility-->
<script type="text/javascript" lang="javascript" src="js/data.js"></script>
<!--Career section: chart, experience table, interaction -->
<script type="text/javascript" lang="javascript" src="js/career.js"></script>
<!--Skills section: scill cloud-->
<script type="text/javascript" lang="javascript" src="js/skills.js"></script>
<!--Bulk data about my career in JSON format, used for career and skills sections-->
<script type="text/javascript" lang="javascript" src="js/experience.json.js"></script>
<!--Entry point script: routing, tab control, module control-->
<script type="text/javascript" lang="javascript" src="js/script.js"></script>
</html>