body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td {margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img,iframe,audio,video,button {border:0;}
input::-moz-focus-inner, button::-moz-focus-inner {border:0;padding:0;}
:focus {outline:none;}
address,caption,cite,code,dfn,em,th,var,b,i {font-style:normal;font-weight:normal;}
ins {text-decoration:none;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}

@font-face {
    font-family: "ProximaNovaRegular";
    src: url('fonts/proxima-nova-regular.eot');
    src: url('fonts/proxima-nova-regular.eot#iefix') format("embedded-opentype"),
    url('fonts/proxima-nova-regular.woff') format("woff"),
    url('fonts/proxima-nova-regular.ttf') format("truetype"),
    url('fonts/proxima-nova-regular.svg#ProximaNovaRegular') format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaLight";
    src: url('fonts/proxima-nova-light.eot');
    src: url('fonts/proxima-nova-light.eot#iefix') format("embedded-opentype"),
    url('fonts/proxima-nova-light.woff') format("woff"),
    url('fonts/proxima-nova-light.ttf') format("truetype"),
    url('fonts/proxima-nova-light.svg#ProximaNovaLight') format("svg");
    font-style: normal;
    font-weight: normal;
}


html {
    height: 100%;
    min-height: 470px;
}

body {
    min-height: 100%;
    position: relative;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 12px;
    background-image: url("img/bg.jpg");
    background-color: #d0d0d0;
    background-repeat:repeat-x;
    background-position:left top;
    color: #333;
}

.boundary {
    padding: 16px 16px 0 16px;
}

.wrapper {
    padding: 0 48px;
    min-width: 640px;
    border-radius: 6px;
    background: #fefefe;
    border: 1px solid #d6d6d6;
}

.wrapper > div {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: #55F;
}

a:hover {
    color: #00A;
}

.header {
    width: 100%;
    margin-top: 12px;
}

.header > div {
    background-color: #e1f5fe;
}

.header table {
    width: 100%;
    height: 64px;
}

.header .title {
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 22px;
    line-height: 26px;
    overflow: hidden;
    font-family: "ProximaNovaLight", Arial, Helvetica, sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
}

.header .title span {
    font-size: 11px;
    font-weight: 400;
    display: block;
    color: #666;
}

.header .downloads {
    width: 170px;
    text-align: center;
    display: inline-block;
    color: #999;
    height: 64px;
    border-left: 14px solid #fff;
}

.header .downloads div {
    padding: 8px 0 6px 0;
}

.header .downloads span {
    display: inline-block;
    padding: 0 10px;
}

.header .downloads span a {
    text-decoration: none;
    font-size: 14px;
}

.header .downloads span.pdf {
    border-right: 1px solid #999;
}

.header .downloads i {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.header .downloads .doc i {
    background-image: url("img/icon_doc.png");
}

.header .downloads .pdf i {
    background-image: url("img/icon_pdf.png");
}

.nav {
    border-bottom: 2px solid #999;
    position: relative;
    padding: 0 16px;
    visibility: hidden;
}

.nav ul {
    cursor: default;
}

.nav ul > li {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #d6d6d6;
    border-bottom: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 2px;
    margin: 0 4px -2px 4px;
    /*height: 28px;*/
}

.nav ul > li:hover {
    text-shadow: 0 1px #e1f5fe;
    border: 2px solid #999;
    border-bottom-color: #999;
}

.nav li.ui-tabs-active {
    border: 2px solid #999;
    border-bottom-color: #fefefe;
    background-color: #F4F4FE;
}

.nav li.ui-tabs-active:hover {
    border: 2px solid #999;
    border-bottom-color: #fefefe;
    text-shadow: none;
}

.nav a {
    text-decoration: none;
    padding: 0 26px;
    line-height: 28px;
    margin-left: -2px;
    margin-right: -2px;
    display: inline-block;
    max-height: 34px;
}

.nav a:hover {
    color: #55F;
}

.nav .email-promo {
    position:absolute;
    right: 12px;
    top: 0;
    font-family: "ProximaNovaRegular", Arial, Helvetica, sans-serif;
    letter-spacing: 0.17em;
    /*font-weight: 800;*/
}

.nav .email-promo a {
    padding: 2px 2px;
    margin: 8px 0;
    line-height: 18px;
}

.fluid .content {
    padding-bottom: 0;
}

.fluid .boundary {
    position: absolute;
    bottom: 30px;
    top: 0;
    right: 0;
    left: 0;
}

.fluid .wrapper {
    height: 100%;
}

.content section {
    display: none;
}

.summary {
    line-height: 20px;
}

.summary div.entry {
    margin: 16px 0;
}

.summary div.entry div.title {
    width: 144px;
    font-weight: bold;
    color: #008;
}


.summary .entry .desc .secondary {
    color: #999;
}



.summary > div div {
    display:inline-block;
    vertical-align: top;
}
.summary div.entry div.desc table td {
    vertical-align: top;
}

.summary div.entry div.desc table tr td:first-child {
    width: 194px;
    font-weight: 900;
}

.summary div.entry div.desc ul,
.summary div.entry div.desc ol {
    list-style-type: square;
    padding-left: 14px;
}

.summary .desc.about > div {
    padding-bottom:6px;
    padding-left: 16px;
    text-indent: -16px;
}

.summary em {
    color: #000;
    border-bottom: 1px solid #bebebe;
    padding: 0 1px 2px 1px;
}

.notice {
    font-size: 12px;
    color: #999;
}

.contact .notice {
    padding: 0;
    width: 50px;
    overflow: visible;
    white-space: nowrap;
}


.footer  {
    padding: 8px 0 0 0;
    font-size: 8px;
    text-align: center;
    line-height: 1.2em;
    color: #777;
}

.experience {
    padding-bottom: 16px;
}

.experience .timeline {
    display: inline-block;
}

.experience .details {
    position: absolute;
    top: 160px;
    bottom: 16px;
    left: 125px;
    right: 65px;
    margin: 0;
    padding: 0;
    overflow: auto;
    min-height: 250px;
    background-color: #f0f0f0;

}

.experience .projlabel {
    font-style: italic;
    display: block;
}

.project {
    margin-left: 40px;
    margin-right: 20px;
}

.project .marker {
    vertical-align: top;
    visibility: hidden;
}
.project.infocus .marker {
    visibility: visible;
}

.project .marker div {
    width: 0;
    margin-left: -56px;
    font-size: 100px;
    font-family: monospace;
    color: #d0d0d0;
    line-height: 88px;
}

.project .date .range {
    text-decoration: underline;
    padding-bottom: 12px;
    cursor: default;
}

.project .date .range:hover {
    color: #33E;
}


.project .date {
    border-right: none;
    vertical-align: top;
    width: 150px;
    padding: 8px 0;
    line-height: 1.8em;
}

.project .date .duration .text {
    display: inline-block;
    font-size: 11px;
}

.project .date .duration td.rate {
    font-weight: bold;
    font-size: 12px;
    font-family: monospace;
}

.project .date .duration td.rate .total {
    padding: 4px 2px;
}

.project .date .duration td.rate div {
    color: #FFF;
    padding: 4px 2px;
    height: 10px;
    cursor: default;
    border-radius: 28px;
    display: inline-block;
    line-height: 10px;
    text-align: left;
}

.project .date .duration div.rate:hover {
    -webkit-box-shadow: 0 0 8px 2px #999;
    -moz-box-shadow: 0 0 8px 2px #999;
    box-shadow: 0 0 8px 2px #999;
}

.project .company {
    border-bottom: 2px solid #333;
    font-size: 14px;
    color: #666;
    text-align: right;
    padding-right: 16px;
    padding-top: 8px;
    line-height: 2em;
}

.project .company span {
    font-weight: bold;
    padding-right: 32px;
    color: #333;
    float: left;
    padding-left: 16px;
}

.project .project-info {
    margin-left: 8px;
}

.project {
    border-bottom: 1px dotted;
}
.project > table {
    width: 100%;
}
.project.first {
    border-bottom: none;
}

.project .description {
    padding: 8px 0;
    color: #666;
}

.project .description .name {
    color: #008;
    font-weight: bold;
    font-size: 14px;
}

.project .description .fulltext {
    padding: 1px 0 0 16px;
    font-style: italic;
}

.project .participation table {
    width: 100%;
}

.project .participation td {
    vertical-align: top;
    padding: 2px 4px;
}

.project .participation tr td:first-child {
    color: #008;
}

.project .participation td.info {
    width: 70%;
}

.project .participation td.achievement {
    width: 30%;
    border-left: 1px solid #d6d6d6;
    color: #999;
}

.project .project-info .stats {
    font-size: 12px;
    padding: 8px 0;
}


.contact >  div {
    padding: 10px 16px;
}

.contact td {
    padding: 4px 4px;
    vertical-align: top;
    line-height: 22px;
}

.contact td:first-child {
    color: #008;
    font-weight: bold;
}

.contact td.address {
    font-family: "ProximaNovaLight", Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 4px 16px;
}


.time {
    color: #333;
    font-size: 12px;
    padding: 0;
}

.skills .group {
    border: 1px dotted #999;
    border-radius: 6px;
    margin-bottom: 16px;
    padding-top: 0;
}

.skills .technologies {
    cursor: default;
    padding: 8px 12px 2px 12px;
    margin: 4px 0 6px 0;
    display: flex;
    flex-direction: column;
}

.skills .technologies .tag {
    line-height: 0.8em;
    margin: 3px;
    padding-left: 10px;
}

.skills .yeargrid {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.skills .technologies .skill.tag {
    padding: 6px 0 8px 0;
    background-color: #e6e6e6;
    overflow: hidden;
}

.skills > div {
    padding: 10px 0 0 0;
}

.skills .other {
    padding-top: 0;
}

.skills .other > table {
    border-spacing: 12px;
    border-collapse: separate;
}

.skills .other ul {
    padding: 0 0 10px 32px;
    list-style: square;
}


.skills table td {
    vertical-align: top;
    line-height: 1.75em;
}

.skills table td.title {
    width: 140px;
    font-weight: bold;
    color: #008;
}

.skills table td.sub-title{
    width: 190px;
    font-weight: bold;
}

.skills div.header {
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #008;
    border-bottom: 1px dotted #999;
}

.skills div.header > span {
    padding-left: 32px;
}

.ui-tooltip {
	padding: 4px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
    background-color: #EED;
    cursor: default;
    border-radius: 3px;
}
body .ui-tooltip {
	border-width: 2px;
}
